@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.next-hours {
    @apply h-full flex flex-col space-y-2 text-center;
}
.main {
    min-height: calc(100vh - 5rem);
}
